<nav class="navbar navbar-expand-lg navbar-coffee">
  <div class="container-fluid">
    <% if request.path == root_path%>
      <%= link_to "Taskly", root_path, class: "navbar-brand active"%>
    <% else %>
      <%= link_to "Taskly", root_path, class: "navbar-brand"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <% if request.path == daily_tasks_path%>
            <%= link_to "Daily Tasks", daily_tasks_path, class: "nav-link active"%>
          <% else %>
            <%= link_to "Daily Tasks", daily_tasks_path, class: "nav-link"%>
          <% end %> 
          <%if request.path == projects_path%>
            <%= link_to "Projects", projects_path, class: "nav-link active"%>
          <% else %>
            <%= link_to "Projects", projects_path, class: "nav-link"%>
          <% end %>
          <% if request.path == destroy_user_session_path%>
            <%= link_to "Log out!",  destroy_user_session_path, data: {turbo_method: :delete},class: "nav-link active"%>
          <% else %>
            <%= link_to "Log out!",  destroy_user_session_path, data: {turbo_method: :delete},class: "nav-link"%>
          <% end %>
        <% else %>
          <% if request.path = new_user_session_path%>
            <%= link_to "Authentificate!",  new_user_session_path, class: "nav-link active"%>
          <% else %>
            <%= link_to "Authentificate!",  new_user_session_path, class: "nav-link"%>
          <% end %>
          <% if request.path = new_user_registration_path%>
            <%= link_to "Creaza-ti cont!",  new_user_registration_path, class: "nav-link active"%>
          <% else %>
            <%= link_to "Creaza-ti cont!",  new_user_registration_path, class: "nav-link"%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>